<% provide(:title, "サイトについて") %>
<h1>ネガティブな感情共有サイト(仮)</h1>
<p>
当サイトではネガティブな感情※が湧いてしまった時、”匿名”でネガティブな感情を投稿することができるSNSサービスです。<br>
投稿の閲覧者から投稿者に対してダイレクトメッセージを送り、コミュニケーションを取ることができます。<br>
セルフ・コンパッション※という技法を実践し、自分や他人に対して寛容になれることを目指します。<br>
</p>

<p>
※ネガティブな感情とは？・怒り・不安・悲しみ・恐れ<br>
※セルフ・コンパッションとは？心理学の概念及び技法の一つで、苦しみに直面した際に自分自身への思いやりを実践すること
</p>

<p>
投稿者のメリット<br>
・匿名のため本音を書くことできストレス発散。<br>
・セルフコンパッションを通して自分や他人に寛容になれる。<br>
</p>

<p>
閲覧者のメリット<br>
・自分と同じ境遇の人を見つけることで孤独感を和らげることができる　例）仕事のミスをして落ち込んでいたが、同じような人がたくさんいることを知り、心が軽くなった。<br>
</p>

<p>
＜背景＞<br>
自分の気持ちを吐き出してストレスを発散するというニーズがある。そもそもみんなストレスを抱えている。他人に不寛容。<br>
・ツイッターの裏垢の増加<br>
・ダンナデスノート<br>
・ヤフーニュースの誹謗中傷コメント<br>
<br>
コロナ禍でみんな辛い思いをしている。お互いを勇気づけるサイトを作りたかった。<br>
<br>
ストレスの原因<br>
・コンプライアンス社会の息苦しさ<br>
・SNS疲れ、他人と比較する機会増加<br>
・将来への漠然とした不安<br>
・不安定な経済<br>
</p>
