<% provide(:title, "サイトについて") %>
<h1>負の感情体験共有サイト</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="fadein txt01">
      当サイトは負の感情※が湧いてしまった時、”匿名”で感情を吐き出すことができるSNSです。
    </p>
    <p class="fadein txt03">
      メッセージのやりとりを通して、閲覧者と投稿者間でコミュニケーションを取ることができます。
    </p>
    <p class="fadein txt04 highlighter">
      個人の特定やSNS疲れ、誹謗中傷を防ぐ設計となっており、居心地の良いクリーンなコミュニティを提供します。
    </p>
    <p class="fadein txt05">
      また、セルフ・コンパッション※という技法を実践し、自己肯定感を高める効果もあります。
    </p>
    <br>
    <p class="fadein txt02">
      ※負の感情とは？　怒り、不安、悲しみ、恐れ等
    </p>
    <p class="fadein txt06">
      ※セルフ・コンパッションとは？　心理学の概念及び技法の一つ。自分自身への思いやりを実践すること。
    </p>
  </div> 
</div>

