<h1><%= yield(:text) %></h1>
<% if @contents.any? %>
  <div class="container">
      <div class= "table-responsive" >
        <table class = "table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>タイトル</th>
              <th>感情</th>
              <th>スコア</th>
              <th>年齢</th>
              <th>性別</th>
              <th>最終更新日</th>
            </tr>
          </thead>

          <tbody>
            <% @contents.each_with_index do |content, i| %>
              <%= render partial: '/contents/search_index_content', locals: { content: content, i: i } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @contents %>
    </div>
  </div>
<% else %>
  <h2><%= yield(:text) %>がありません</h2>
<% end %>

