@import "bootstrap-sprockets";
@import "bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

/* universal */

body {
  padding-top: 60px;
  color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* link_to */
a {
  color:blue;
}

a:hover {
  text-decoration: none;
}

/* content show action */
div.panel-body {
  color:black;
}

/* table */
/* Bootstrapの初期設定vertical-align:topを上書き */
.td_vertical_align_middle.td_vertical_align_middle {
  vertical-align: middle;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

table.table-hover tbody tr:hover {
  color: black;
}

/* calendar */
.fc-daygrid-day-number{
  color:black;
}

#calendar div.fc-event-title {
  color:black;
}

#calendar th.fc-col-header-cell {
  background-color: #FFFFFF;
}

#calendar td.fc-day-mon {
  background-color: #FFFFFF;
}

#calendar td.fc-day-tue {
  background-color: #FFFFFF;
}

#calendar td.fc-day-wed {
  background-color: #FFFFFF;
}

#calendar td.fc-day-thu {
  background-color: #FFFFFF;
}

#calendar td.fc-day-fri {
  background-color: #FFFFFF;
}

#calendar td.fc-day-sat {
  background-color: #eaf4ff;
}

#calendar td.fc-day-sun {
  background-color: #ffeaea;
}


th.fc-day-mon .fc-col-header-cell-cushion {
  color: black;
}

th.fc-day-tue .fc-col-header-cell-cushion {
  color: black;
}

th.fc-day-wed .fc-col-header-cell-cushion {
  color: black;
}


th.fc-day-thu .fc-col-header-cell-cushion {
  color: black;
}

th.fc-day-fri .fc-col-header-cell-cushion {
  color: black;
}

th.fc-day-sat .fc-col-header-cell-cushion {
  color: blue;
}

th.fc-day-sun .fc-col-header-cell-cushion{
  color: red;
}

#calendar td.holiday {
  background-color: #FFF4E1;
  a.holiday {
      pointer-events: none; 
      div.fc-event-title {
        color:red;
      }
  }
}
/* holidayよりも優先したいため、holidayの後ろに設定 */
#calendar td.fc-day-today {
  background-color: #FFFACD;
}

/* comment */
p.under-line {
  text-decoration : underline;
}

p.under-line_double {
  text-decoration : underline;
  text-decoration-style: double;
}

p.comment-none{
  text-align: center; 
}

p.comment-phrase{
  text-align: left;
  float: left;
  
}

p.comment-data{
  text-align: right;
  opacity: 0.5;
}

/* notification */
p.notification-text{
  text-align: left;
  float: left;
  
}

p.notification-time{
  text-align: right;
}

.heart-color{
  color:red
}

/* earth */
.earth {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: -20px 0 3px rgba(0, 0, 0, 0.3) inset;
  margin-left: auto;
  margin-right: auto;
}

.earth:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-image: url(https://drive.google.com/uc?export=view&id=11chGBx0vAj79X4ph_fUXDQIYdRy9uqBV);
  background-position: 0 0;
  background-size: auto 100%;
  transform: rotate(23.4deg);
  animation: rotation 16s linear infinite;
}

@keyframes rotation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* fadein */
.fadein {
  opacity: 0;
  animation: fadein 6s ease forwards;
}

@keyframes fadein {
  100% { 
    opacity: 1;
  }
}

.txt01 {animation-delay: 0.5s;}
.txt02 {animation-delay: 3s;}
.txt03 {animation-delay: 5.5s;}
.txt04 {animation-delay: 8s;}
.txt05 {animation-delay: 10.5s;}
.txt06 {animation-delay: 13s;}
.txt07 {animation-delay: 14s;}

.highlighter {
	background: linear-gradient(transparent 60%, #ffa500 60% 90%, transparent 90%);
}
