<% provide(:title, "自己メモ管理") %>
<h1>自己メモ管理</h1>
<% if @memos.any? %>
   <div class="container">
    <div class= "table-responsive">
      <table class = "table">
        <thead>
          <tr>
            <th>#</th>
            <th>自己メモの種類</th>
            <th>タイトル</th>
            <th>作成日</th>
            <th>最終更新日</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @memos.each_with_index do |memo, i| %>
             <%= render partial: 'memo', locals: { memo: memo, i: i } %>
          <% end %> 
        </tbody>
      </table>
    </div>
    <%= paginate @memos %>
  </div>
</div>
<% else %>
  <h2><%= '過去投稿がありません' %></h2>
<% end %>
